$primary: #6BB2FD;
$secondary: #FABF5A;
$success: #13A624;
// $info: #FFFFFF;
$warning: #E6A545;
$danger: #FB545D;
$light: #4E4E4E;
$dark: #212121;

$card-border-width: 3px;

@import "../node_modules/bootstrap/scss/bootstrap";