$primary: #FD5555;
$secondary: #11BDD0;
// $success: #13A624;
// $info: #FFFFFF;
// $warning: #FFFFFF;
// $danger: #FFFFFF;
$light: #0A2D36;
$dark: #0C2240;


$card-border-width: 3px;

@import "../node_modules/bootstrap/scss/bootstrap";

.card {
  border-color: $secondary;
  background-color: $light;
}

.card-title {
  color: $primary;
}

.card-text {
  color: $secondary;
}

.card-header {
  border-color: $secondary;
  color: $secondary;
}

.card-footer {
  border-color: $secondary;
  color: $secondary;
}

.container-hero {
  background-image: url("../images/abstract_art_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.div-hero {
  border-radius: 8px;
  border: 2px solid rgba($primary, 0.3);
}

.frosted {
  backdrop-filter: blur(20px);
  background-color: rgba($light, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
}