$primary: #6BB2FD;
$secondary: #FABF5A;
$success: #13A624;
// $info: #FFFFFF;
$warning: #E6A545;
$danger: #FB545D;
$light: #4E4E4E;
$dark: #212121;

$card-border-width: 3px;

@import "../node_modules/bootstrap/scss/bootstrap";

.card {
  border-color: $primary;
  background-color: $light;
}

.card-title {
  color: $primary;
}

.card-text {
  color: $secondary;
}

.card-header {
  border-color: $primary;
  color: $secondary;
}

.card-footer {
  border-color: $primary;
  color: $secondary;
}